html {
    overflow-y: scroll;
}
.container {
    position: relative;
    background: white;
    max-width: 840px;
    margin: 0 auto;
    padding: 0;
}

.content_container{
    margin-left: 240px;
}

.left_container{
  float: left;
  top: 50px;
  max-width: 240px;
  margin-left: -240px;  
}
.right_container{
  float: right;
  width: 100%;  
}

.content{
position: relative;
background-color: white;
text-align:justify;
max-width:840px;
padding: 1em;
border:0;
margin: 0 auto;
z-index: 2;
}

.footer_container{
    position: relative;
    text-align:center;    
    width:840px;
    max-height:51px;
    margin: 0 auto;
    padding: 16px 0;    
}

body {
    font-size: 1em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    margin:0;
}

h1 {
    font-size: 2.5em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    display: block;
    font-weight: bold;
    padding:20px 0 0 0;
    margin:25px 0 15px 0;    
}
h2 {
    font-size: 1.3em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    display: block;
    font-weight: bold;
    margin-top: 1.1em;
    margin-bottom:0.67em;
    padding: 0 0 0 2px;
}
h3 {
    font-size: 1em;
    color: black;
    background-color: white;
    font-family: Georgia, serif;
    display: block;
    font-weight: bold;
    margin-top:0.67em;
    margin-bottom:1px;
}
p{
    text-align:justify;
}
.nowrap {
    white-space:nowrap;
}
ul {
    text-align:justify;
    list-style: inside none;
    padding: 0px 5px 0px 5px;
}

#disc {
  list-style-type: disc;
  padding: 0 0 1px 1px;
}
#none {
  list-style-type: none;
}
#empty {
  list-style-type: none;
  padding: 0 0 0 15px;
}

a:link{
    color: #9ac400;
}

a:visited { 
    color: #669900;
}

a:link:active, a:visited:active { 
    color: #99cc99;
}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}
